#app {
    .sidebar-container {
        a {
            display: inline-block;
            width: 100%;
            cursor: pointer;
            color: inherit;
            text-decoration: none;
        }
    }
}